body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader {
  border: 16px dotted #f3f3f3;
  border-radius: 50%;
  border-top: 16px dotted rgb(189, 189, 203);
  border-bottom: 16px dotted rgb(189, 189, 203);
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
.btn {
  padding-left: 40px;
  padding-right: 40px
}

.tag {
  color: rgb(16, 100, 179);
}
.tag-checked {
  display: inline-block;
  background-color: #0d6efd;
  border-radius: 4px;
  color:white;
}

.clear-button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 10%;
  background-color: #f7f7f7;
  color: rgb(64, 59, 59);
  font-size: 16px;
  display: flex;
  padding-top: 0%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: inline;
  text-align: center;
  margin: 3px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@import '~react-toastify/dist/ReactToastify.css';
